<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
        <meta name="author" content="PROJECT">
        <meta name="language" content="en">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block head %}
        <title>{% block title %}Project{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>
        <section>
            <article>
                <header>
                    <h2>Title Goes here</h2>
                    <p>Posted on <time datetime="2012-07-28T13:00:24+01:00">July 28th 2012</time> by <a href="#">Author</a> - <a href="#comments">12 comments</a></p>
                </header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </article>
            <article>
                <header>
                    <h2>Article title</h2>
                    <p>Posted on <time datetime="2012-07-26T13:00:24+01:00">July 26th 2012</time> by <a href="#">Author</a> - <a href="#comments">9 comments</a></p>
                </header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </article>
        </section>
        <aside>
            <h2>Contact Us</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </aside>
        <footer>
            <p>Copyright 2012 DigiMantra Labs ©</p>
        </footer>
    <script src="js/jquery.js"></script>
    </body>
</html>
